extends layout

block content
  h1= title
  p Hello World! I’m #{title}
  p Learn more about me #[a(href="https://www.linkedin.com/in/amber-alston-37a2615") here] and #[a(href="https://about.me/amberalston") here] 